.centernav { /*flexbox center align*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    border: none;
    padding: 2.5%;
}

/*buttons*/
#mainbutton { /*back to main button*/
    border-color:#005eff;
    color: #005eff;
}

#button1 { /*back to main button*/
    border-color:#ff9100;
    color: #ff9100;
}

#button2 { /*back to main button*/
    border-color:#ff3c00;
    color: #ff3c00;
}

#button3 { /*back to main button*/
    border-color:#00ff22;
    color: #00ff22;   
}

nav a { /*main format*/
    border: solid;
    border-width: 0.2em;
    padding: 1em;
    font-size: 1em;
    width: 10%;
    margin: 1%;
    font-size: 1em;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#mainbutton:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #005eff;
}

#button1:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #ff9100;
}

#button2:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #ff3c00;
}

#button3:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #00ff22;
}